<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        <link rel="stylesheet" href="/css/base.css">
        {% endblock %}
    </head>
    <body>

    <div class="container">
        <header>
            <a href="{{ path('page_index') }}">Logo</a>
        </header>
        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="menu">
                    <!-- Normal menu item -->

                    <!-- With hot key -->
                    <div class="menu__item">
                        <!-- Label -->
                        <p><a href="{{ path('page_detail') }}">Pages</a> </p>
                        {% if app.user != null %}
                            <div class="menu__hotkey">
                                <a href="{{ path('admin_page_index') }}">edit</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="menu__item">
                       {% if app.user == null %}
                        <p>
                            <a href="{{ path('user_login') }}" data-target="#login-box" class="back-to-login-link">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                Login
                            </a> /
                            <a href="{{ path('user_registration') }}" data-target="#login-box" class="back-to-login-link">
                                <i class="ace-icon fa fa-arrow-left"></i>
                                Registration
                            </a>
                        </p>
                        {% else %}
                            <p>
                                <a href="{{ path('user_logout') }}" data-target="#login-box" class="back-to-login-link">
                                    <i class="ace-icon fa fa-arrow-left"></i>
                                    Logout
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </aside>
            <!-- Main content -->
            <article class="container__middle">
                <h1>{% block h1 %}{% endblock %}</h1>
                {% include '@Page/elements/flash_message.html.twig' %}
                {% block body %}{% endblock %}
            </article>

        </main>
        <footer>
            Footer
        </footer>
    </div>
    </body>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
